<div class="container" *blockUI="'blockUI'">
  <div class="row">
    <div class="col-lg-12" style="padding: 30px;">
      <h3>{{postViewModal.title}}</h3>
    </div>
    <div class="col-lg-12" style="padding: 20px;">
      <img [src]="postViewModal.image" width="100%">
    </div>
    <div class="col-lg-12" [innerHTML]="postViewModal.content">
    </div>
    <div class="col-lg-12">
      <h6>Tác giả: {{postViewModal.createdBy}}</h6>
      <h6>Ngày viết: {{postViewModal.createdDate | date:'short'}}</h6>
    </div>
  </div>
</div>
