<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 0px;">
    <div class="container-fluid" style="padding-left: 0px;">
      <a class="navbar-brand">NewsWebsite</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="role.role == 'user'">
          <li class="nav-item">
            <a class="nav-link active btn-hover" aria-current="page" (click)="fullPost()">Trang chủ</a>
          </li>
          <li class="nav-item" *ngFor="let category of listCategory" >
            <a class="nav-link btn-hover" (click)="filterPost(category.categoryId)">{{category.categoryName}}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Chức năng
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="" (click)="user()">Xem bài viết</a></li>
              <li><a class="dropdown-item" routerLink="managermentCategory" (click)="manager()">Quản lý</a></li>
            </ul>
          </li>
        </ul>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="role.role == 'managerment'">
          <li class="nav-item">
            <a class="nav-link btn-hover" routerLink="managermentCategory">Quản lý danh mục</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-hover" routerLink="managermentPost">Quản lý bài viết</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Chức năng
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="" (click)="user()">Xem bài viết</a></li>
              <li><a class="dropdown-item" routerLink="managermentCategory" (click)="manager()">Quản lý</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" [formGroup]="serchForm" (ngSubmit)="test()">
          <input formControlName="search" (input)="postSearch()" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" >
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>

